@model IList<VoteSystem.Web.ViewModels.QuestionViewModel>

@{    
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Fill</h2>

@using (Html.BeginForm<FillRateSystemController>(c => c.Fill(0), FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h2>FOR</h2>
    for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(m => m[i].Id)
        @Html.HiddenFor(m => m[i].RateSystemId)
        <h3>@Model[i].QuestionName</h3>
            for (int j = 0; j < Model[i].QuestionAnswers.Count; j++)
            {
                @Html.Label(Model[i].QuestionAnswers[j].QuestionAnswerName)
                @Html.RadioButtonFor(m => m[i].QuestionName, Model[i].QuestionAnswers[j].Id)
        }
    }   
     
    <button type="submit">Save</button>
}
