@model VoteSystem.Web.ViewModels.UserViewModel

<tr>
    <td class="a-center col-md-1 col-sm-1 col-xs-1">
        @Html.CheckBoxFor(m => m.IsSelect)
        @Html.HiddenFor(m => m.Id)
    </td>
    <td class="col-md-2 col-sm-2 col-xs-2">
        @Model.FN
        @Html.HiddenFor(m => m.FN)
    </td>
    <td class="col-md-3 col-sm-3 col-xs-3">
        @Model.Email
        @Html.HiddenFor(m => m.Email)
    </td>
    <td class="col-md-3 col-sm-3 col-xs-3">
        @Model.FirstName
        @Html.HiddenFor(m => m.FirstName)
    </td>
    <td class="col-md-3 col-sm-3 col-xs-3">
        @Model.LastName
        @Html.HiddenFor(m => m.LastName)
    </td>
</tr>
