@model VoteSystem.Web.ViewModels.Introduction.FeedbackViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/bundles/introduction-page-css")
}

<div id="wrap">
    <header class="masthead"></header>

    <div id="nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#features">
                            Начало
                        </a>
                    </li>
                    <li>
                        <a href="#about-me">
                            За мен
                        </a>
                    </li>
                    <li>
                        <a href="#contact-me">
                            Контакти
                        </a>
                    </li>
                    <li>
                        @(Html.ActionLink<AccountController>("Вход", c => c.Login(string.Empty), new { area = string.Empty }, htmlAttributes: new { id = "loginLink" }))
                    </li>
                    <li>
                        @(Html.ActionLink<AccountController>("Регистрация", c => c.Register(), new { area = string.Empty }, htmlAttributes: new { id = "registerLink" }))
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div style="height: 600px; min-height: 300px;">
        <video autoplay loop>
            <source src="~/Content/Videos/stars.webm" type="video/webm" />
        </video>

        <div class="container container-table">
            <div class="row vertical-center-row">
                <div class="text-center col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <h1 class="vote-system-title">
                        СИСТЕМА ЗА ГЛАСУВАНЕ
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <section id="features" style="height: 955px; min-height: 500px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height: 800px; min-height: 500px;">
                    <div class="x_title">
                        <h1 class="text-center">
                            Начало
                        </h1>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="margin-top: 6%;">
                        <div class="row" style="width: 70%; margin: auto;">
                            <div class="col-md-5">
                                <div class="text-center">
                                    <img src="~/Content/images/krastev.png" width="350" />
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-2 mb-30">
                                Идея на приложението е да замени традиционото (и досадно) попълване на хартиени анкети.
                                Преди началото на всяка анкета (ако сте добавени към нея) ще получите е-майл кога започва и кога свършва.
                                Приложението е с интуитивен и опростен приятелски интерфейс.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-me" style="height: 955px; min-height: 500px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height: 800px; min-height: 500px;">
                    <div class="x_title">
                        <h1 class="text-center">
                            За мен
                        </h1>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="margin-top: 6%;">
                        <div class="row" style="width: 70%; margin: auto;">
                            <div class="col-md-5">
                                <div class="text-center">
                                    <img src="~/Content/images/krastev.png" width="350" />
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-2 mb-30">
                                Здравейте. Аз се казвам Андриян Невелино Кръстев и съм създателя на това приложение.

                                Използвам най-новите C# и JavaScript технологии като ASP.NET MVC, ASP.NET Web API, Entity Framework, AngularJS, jQuery, Twitter Bootstrap и други.

                                Също така съм студент (магистратура) в Русенски университет "Ангел Кънчев" със специалност Компютърни Системи и Технологии.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-me" style="height: 955px; min-height: 500px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height: 800px; min-height: 500px;">
                    <div class="x_title">
                        <h1 class="text-center">
                            Контакти
                        </h1>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row" style="width: 50%; margin: auto;">
                            <div class="col-md-12 contact-info-title text-center">
                                Вашето мнение е важно за мен.
                                <p>
                                    За препоръки или открити бъгове може да ми пишете.
                                </p>
                            </div>
                            @using (Html.BeginForm<IntroductionController>(c => c.Index(), FormMethod.Post, null, new {@class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="col-md-6">
                                    <div>
                                        <div>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Име" })
                                        </div>
                                        <div class="error-message">
                                            @Html.ValidationMessageFor(m => m.Name)
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Имейл" })
                                        </div>
                                        <div class="error-message">
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Тема" })
                                        </div>
                                        <div class="error-message">
                                            @Html.ValidationMessageFor(m => m.Subject)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Съобщение", rows = 5 })
                                    </div>
                                    <div class="error-message">
                                        @Html.ValidationMessageFor(m => m.Message)
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-dark" style="margin-top: 20px;">
                                        Изпрати
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial(PartialViewConstants.FooterPartial)
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/introduction-page-js")
}