@using VoteSystem.Web.Infrastructure.Extensions

@model IEnumerable<VoteSystem.Web.ViewModels.RateSystemViewModel>

@{  
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section styles {
    <style>
        a.paginate_button.current {
            background-color: rgba(38, 185, 154, 0.59) !important;
            border-color: rgba(38, 185, 154, 0.59) !important;
        }
    </style>
}

@Html.Hidden("delete-rate-system-url", Url.Action<AjaxController>(c => c.DeleteRateSystem(0)))

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Системи за гласуване</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="admin-grid" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-sm-1 col-xs-1">Статус</th>
                            <th class="col-md-3 col-sm-3 col-xs-3">Система</th>
                            <th class="col-md-3 col-sm-3 col-xs-3">Въпроси</th>
                            <th class="col-md-2 col-sm-2 col-xs-2">Учасници</th>
                            <th class="col-md-3 col-sm-3 col-xs-3">Промяна</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rateSystem in Model)
                        {
                            <tr>
                                @Html.Hidden("rate-system-" + rateSystem.Id, rateSystem.Id)
                                <td class="col-md-1 col-sm-1 col-xs-1">
                                    @Html.RateSystemStatus(rateSystem.StarDateTime, rateSystem.EndDateTime)
                                </td>
                                <td class="col-md-2 col-sm-2 col-xs-2">
                                    @rateSystem.RateSystemName
                                </td>
                                <td class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="@(Url.Action<QuestionController>(c => c.Create(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-plus"></i>
                                        Добави
                                    </a>
                                    <a href="@(Url.Action<QuestionController>(c => c.Preview(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-folder"></i>
                                        Преглед
                                    </a>
                                    <a href="@(Url.Action<QuestionController>(c => c.Edit(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-pencil"></i>
                                        Промени
                                    </a>
                                </td>
                                <td class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="@(Url.Action<UserController>(c => c.Add(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-plus"></i>
                                        Добави
                                    </a>
                                    <a href="@(Url.Action<UserController>(c => c.Preview(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-folder"></i>
                                        Преглед
                                    </a>
                                    <a href="@(Url.Action<UserController>(c => c.Remove(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                        Изтрий
                                    </a>
                                </td>
                                <td class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="@(Url.Action<ResultController>(c => c.Index(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-pie-chart"></i>
                                        Резултати
                                    </a>
                                    <a href="@(Url.Action<RateSystemController>(c => c.Edit(rateSystem.Id)))" class="btn btn-dark btn-xs">
                                        <i class="fa fa-pencil"></i>
                                        Промяна
                                    </a>
                                    <button type="button" class="delete-btn btn btn-dark btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="fa fa-trash-o"></i>
                                        Изтрий
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Изтриване на система за гласуване</h4>
            </div>
            <div class="modal-body">
                <p>
                   Сигурни ли сте, че истате да изтриете <span id="modal-content" style="color:red;"></span> система?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-btn" class="btn btn-dark" data-dismiss="modal" style="margin: 0;">
                    Не
                </button>
                <button type="button" id="delete-rate-system-btn" class="btn btn-danger">
                    Да
                </button>
            </div>
        </div>
    </div>
</div>