@model VoteSystem.Web.ViewModels.QuestionAndAnswersViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section styles {
    <style>
        .validation-summary-errors ul {
            list-style-type: none;
        }
    </style>
}

@using (Html.BeginForm<QuestionController>(c => c.Create(0), FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RateSystemId)
    @Html.Hidden("more-question-url", Url.Action<AjaxController>(c => c.MoreQuestions()))
    <div class="text-center">
        @Html.ValidationSummary(true, null, new {@class = "text-danger" })
    </div>

    <div id="question-list">
        @foreach (var question in Model.Questions)
        {           
            Html.RenderPartial(PartialViewConstants.QuestionPartial, question);
        }
    </div>

    <div class="text-center">
        <span id="add-more-questions" class="btn btn-default">New Question</span>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
