@model VoteSystem.Clients.MVC.Areas.Administration.ViewModels.VoteSystem.VoteSystemWithQuestionsViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section styles {
    <style>
        .validation-summary-errors ul {
            list-style-type: none;
        }
    </style>
}

@using (Html.BeginForm<QuestionController>(c => c.Edit(0), FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="text-center" style="padding-bottom: 20px;">
        <h2 class="my-header-title">
            Промяна на въпросите
        </h2>

        <a class="btn btn-dark" href="@(Url.Action<VoteSystemController>(c => c.Index()))">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Обратно
        </a>
        <span id="add-more-questions" class="btn btn-dark">
            <i class="fa fa-plus"></i>
            Нов въпрос
        </span>
        <button type="submit" class="btn btn-dark">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Запиши
        </button>
    </div>

    <div id="question-list">
        @foreach (var question in Model.Questions)
        {
            Html.RenderPartial(PartialViewConstants.QuestionPartial, question);
        }
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/questionController")

    @*TODO move it back in questionCOntroller when i understand how to pass ViewBag.VoteSystemId*@
    <script>
        var newQuestionUrl = "/admin/question/addnewquestion";

        $('#add-more-questions').on('click', function () {

            $.ajax({
                type: 'GET',
                url: newQuestionUrl,
                data: { voteSystemId: '@ViewBag.VoteSystemId' },
                success: function (html) {
                    $('#question-list').append(html);

                    $('.close-link').on('click', function () {
                        $(this)
                            .closest('div.row')
                            .remove();
                    });

                    $('.collapse-link').off().on('click', function () {
                        var x_panel = $(this).closest('div.x_panel');
                        var button = $(this).find('i');
                        var content = x_panel.find('div.x_content');

                        content.slideToggle(200);
                        (x_panel.hasClass('fixed_height_390') ? x_panel.toggleClass('').toggleClass('fixed_height_390') : '');
                        (x_panel.hasClass('fixed_height_320') ? x_panel.toggleClass('').toggleClass('fixed_height_320') : '');
                        button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
                        setTimeout(function () {
                            x_panel.resize();
                        }, 50);
                    });
                },
                error: function (ex) {
                    alert('Can not add new question ' + ex);
                }
            });
        });
    </script>
}