@using Microsoft.AspNet.Identity
@using VoteSystem.Common
@using VoteSystem.Web.Areas.Administration.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @RenderSection("styles", required: false)

    <style>
        body {            
            background: white;
        }
    </style>
}

<div class="container body" style="display: none;">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="~/Introduction/Index" class="site_title">
                        <span>Система за гласуване</span>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="profile">
                    <div class="profile_pic">
                        <img src="~/Content/bootstrap-theme/images/user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Добре дошли,</span>
                        <h2>@User.Identity.GetUserName()</h2>
                    </div>
                </div>
                <br />
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Генерален</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a>
                                    <i class="fa fa-home"></i>
                                    Начало
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: none">
                                    <li>
                                        @(Html.ActionLink<HomeController>("Табло", c => c.Index(), new { area = string.Empty }, htmlAttributes: new { title = "Табло" }))
                                    </li>
                                </ul>
                            </li>
                            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li>
                                    <a>
                                        <i class="fa fa-edit"></i>
                                        Администрация
                                        <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            @(Html.ActionLink<RateSystemController>("Табло", c => c.Index(), new { area = "Administration" }, htmlAttributes: new { title = "Табло" }))
                                        </li>
                                        <li>
                                            @(Html.ActionLink<RateSystemController>("Create", c => c.Create(), new { area = "Administration" }, htmlAttributes: new { title = "Create" }))
                                        </li>
                                        <li>
                                            <a href="/Glimpse.axd">Glimpse</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li>
                                <a>
                                    <i class="fa fa-gear"></i>
                                    Настройки
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: none">
                                    <li>
                                        @(Html.ActionLink<ManageController>("Смяна на парола", c => c.ChangePassword(), new { area = string.Empty }, htmlAttributes: new { title = "Manage" }))
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="~/Content/bootstrap-theme/images/user.png" alt="">
                                @User.Identity.GetUserName()
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                <li>
                                    <a href="#">Профил</a>
                                </li>
                                <li>
                                    @using (Html.BeginForm<AccountController>(c => c.LogOff(), FormMethod.Post, new { area = string.Empty }, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fa fa-sign-out pull-right"></i>
                                        Изход
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
       
        <div class="right_col" role="main">
            @RenderBody()
        </div>
    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none" style="display: none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    @Html.Partial(PartialViewConstants.FooterPartial)
</div>

@section scripts {
    @Scripts.Render("~/bundles/gentallela-js")
    @Scripts.Render("~/bundles/my-scripts")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.right_col').height($(window).height() - 113);
            $('body').css('background', '#2A3F54');           
            $('.container.body').show();
            $('#site-spinner').remove();
        });

        $(window).resize(function () {
            $('.right_col').height($(window).height() - 113);
            $('body').css('background', '#2A3F54');
            $('.container.body').show();
            $('#site-spinner').remove();
        });
    </script>
}
