@using Microsoft.AspNet.Identity
@using VoteSystem.Common
@using VoteSystem.Web.Areas.Administration.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/gentelella-css")
    @RenderSection("styles", required: false)
}

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="~/Introduction/Index" class="site_title">
                        <i class="fa fa-paw"></i>
                        <span>Vote System</span>
                    </a>
                </div>
                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="~/Content/bootstrap-theme/images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>@User.Identity.GetUserName()</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->
                <br />
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a>
                                    <i class="fa fa-home"></i>
                                    Home
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: none">
                                    <li>
                                        @(Html.ActionLink<HomeController>("Dashboard", c => c.Index(), new {area = string.Empty}, htmlAttributes: new { title = "Dashboard" }))
                                    </li>
                                </ul>
                            </li>
                            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li>
                                    <a>
                                        <i class="fa fa-edit"></i>
                                        Admin
                                        <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            @(Html.ActionLink<RateSystemController>("Create", c => c.Create(), new { area = "Administration" }, htmlAttributes: new { title = "Create" }))
                                        </li>
                                        <li>
                                            @(Html.ActionLink<RateSystemController>("Index", c => c.Index(), new { area = "Administration" }, htmlAttributes: new { title = "Index" }))
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li>
                                <a>
                                    <i class="fa fa-gear"></i>
                                    Settings
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: none">
                                    <li>
                                        @(Html.ActionLink<ManageController>("Change password", c => c.ChangePassword(), new { area = string.Empty }, htmlAttributes: new { title = "Manage" }))
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="~/Content/bootstrap-theme/images/img.jpg" alt="">
                                @User.Identity.GetUserName()
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                <li>
                                    <a href="javascript:;">Profile</a>
                                </li>
                                <li>
                                    @*TODO do i really need AntiForgeryToken?*@    
                                    @using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fa fa-sign-out pull-right"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            @RenderBody()
            <!-- footer content -->
            @Html.Partial(PartialViewConstants.FooterPartial)
            <!-- /footer content -->
        </div>
        <!-- /page content -->
    </div>
</div>
<div id="custom_notifications" class="custom-notifications dsp_none" style="display: none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/gentallela-js")
    @RenderSection("scripts", required: false)
}
