<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="vote-system" content="Web application for votting" />
    <title>Vote System</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/gentelella-css")
    @RenderSection("styles", required: false)
    @*TODO: added here because of problem with edit questions*@
    <script src="~/Scripts/jquery-2.2.0.js"></script>
</head>
<body class="nav-md">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/bootstrap-theme/js/custom.js"></script>
</body>
</html>
