<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web application for voting" />
    <meta name="author" content="Andriyan Krastev" />
    <meta name="keywords" content="vote rate system" />
    <title>Система за гласуване</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/gentelella-css")
    @RenderSection("styles", required: false)
    @*TODO: added here because of problem with edit questions*@
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/spin.min.js"></script>
</head>
<body class="nav-md">
    <div id="foo"></div>
    <script>
        var opts = {
            lines: 10, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            color: '#FF0000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 50, // Top position relative to parent in px
            left: 50 // Left position relative to parent in px
        };
        var target = document.getElementById('foo');
        var spinner = new Spinner(opts).spin(target);
    </script>
    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
